<?xml version="1.0" encoding="utf-8" ?>
<configuration>
	<appSettings>
		<add key="TEST_ADMIN_LOGIN" value="DESKTOP-80PFJEP\homepc"/>
	</appSettings>
	<connectionStrings>
		<add name="DefaultConnection"
		     connectionString="Data Source=DESKTOP-80PFJEP;Initial Catalog=DeliveryCompanyDB;Integrated Security=True;" />
	</connectionStrings>
</configuration>